body{
    background: url("../images/globe.jpg");
    background-size: cover;
}

.weathercard{
    width: 90%;
    max-width: 470px;
    background-color: #01011dc9;
    border: 1px solid rgba(3, 120, 216, 0.562); 
    color:#fff;
    margin: 50px auto 0;
    border-radius: 10px;
    padding: 20px 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.switch {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    font-size: 16px; 
    border: none; 
    cursor: pointer; 
    margin-top: 20px;
  }
  
  .switch:hover {
    background-color: #45a049; /* Darker green background color on hover */
  }
  

select{
    width:100%;
    height: 50px;
    border-radius: 10px;
    font-size: larger;
}

input{
    display: none;
    width:100%;
    height: 50px;
    border-radius: 10px;
    font-size: larger;
}


select option:nth-child(even) {
    background-color: rgb(208, 212, 212);
  }
  
.weather-icon{
    display: block;
    margin-left: 180px;
    width: 100px;
}

.weather-icon2,.weather-icon3,.weather-icon4,.weather-icon5{
    width: 100px;
}

.temp2, .temp3, .temp4, .temp5{
    position: relative;
    top: -35px;
}

h3{
    font-size: 30px;
    font-weight: 200;
}

.weather h1{
    display: inline-block;
    font-size: 40px;
    font-weight: 500;
    margin-top: 25px;
}
.weather h2{
    display: inline-block;
    font-size: 45px;
    font-weight: 400;
    margin-top: -35px;
}

.details{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -20px;
    margin-bottom: 20px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity{
    font-size: 25px;
    margin-top: 10px;
}
.humidityP{
    font-size:large;
}

.weather {
    display: none;
}

@media (max-width: 1000px) {
    .weather-icon2,.weather-icon3,.weather-icon4,.weather-icon5{
        display: block;
        width: 100px;
        margin-left: 40%;
    }

    h3{
        font-size: 40px;
        font-weight: 200;
    }
    .details{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .humidity{
        font-size: 40px;
        margin-top: 20px;
        margin-left: 25px;
    }
    .humidityP{
        font-size:xx-large;
    }

    .col{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .col img{
        width: 60px;
        margin-right: 10px;
    }
}
